{{ ansible_managed | comment }}
{% if 'host_alias' in item.value -%}
  {{ "\n" }}# Host aliases{{ "\n" }}
  {%- for alias, values in item.value['host_alias'].items() -%}
    Host_Alias {{ alias }} = {{ values | join(', ') }}{{ "\n" }}
  {%- endfor %}
{% endif %}

{%- if 'user_alias' in item.value -%}
  {{ "\n" }}# User aliases{{ "\n" }}
  {%- for alias, values in item.value['user_alias'].items() -%}
    User_Alias {{ alias }} = {{ values | join(', ') }}{{ "\n" }}
  {%- endfor %}
{% endif %}

{%- if 'cmd_alias' in item.value -%}
  {{ "\n" }}# Command aliases{{ "\n" }}
  {%- for alias, values in item.value['cmd_alias'].items() -%}
    Cmnd_Alias {{ alias }} = {{ values | join(', ') }}{{ "\n" }}
  {%- endfor %}
{% endif %}

{%- if 'users' in item.value -%}
  {{ "\n" }}# Users and groups{{ "\n" }}
  {%- for item in item.value['users'] %}
    {%- for user, options in item.items() -%}
      {{ user }} {{ options['host'] }} ={{ ' ' }}
      {%- if 'runas' in options and options['runas'] | length > 0 -%}
        ({{ options['runas'] }}){{ ' ' }}
      {%- endif -%}
      {%- if 'tag' in options and options['tag'] | length > 0 -%}
        {{ options['tag'] }}:{{ ' ' }}
      {%- endif -%}
      {{ options['cmd'] }}{{ "\n" }}
    {%- endfor %}
  {%- endfor %}
{% endif %}
